.button {
  color: var(--gray-100);
  background: var(--blue-dark);

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 0.5rem;
  padding: 1rem;
  border: none;
  border-radius: 8px;

  transition: background 0.2s ease;
}

.button:hover {
  cursor: pointer;
  background: var(--blue);
}
